/* Hide unused content in the theme */
.notion-navbar, .notion-header {
    display: none !important;
}

/* Typography */
h1.notion-heading,
h2.notion-heading {
    align-self: center;
    width: calc(100vw - 3em);
    margin: 1em auto;
    text-align: center;
    font-size: 3.6em;
}

h3.notion-heading {
    align-self: center;
    margin: 1em auto;
    text-align: center;
    font-size: 3em;
}

.notion-text__content {
    font-size: 1.5em;
}

.notion-quote {
    margin: 1em -3em;
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    border: none;
}

/* Align elements */
.notion-embed {
    width: 100vw;
    margin: 2em 0;
}

.notion-image.full-width img{
    width: 100%;
    object-fit: cover;
}

@media screen and (max-screen: 650px) {
    h1.notion-heading,
    h2.notion-heading {
        margin: 1em 2em;
    }

    h3.notion-heading {
        margin: 1em 2em;
    }
}